h1{
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid grey;
  background-color: white;
  cursor: pointer;
}

.cell.on {
  background-color: black;
}

.cell.off {
  background-color: white;
}
